/*--for IE9 & below--*/

@-ms-viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    z-index: -1;
}


html {
    width: 100%;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    width: 100%;
}

.section-1,
.section-2,
.section-3,
.row,
.col-md-8,
.col-sm-8,
.col-md-4,
.col-sm-4,
.col-md-5,
.col-sm-5,
.col-md-3,
.col-sm-3,
.col-md-9,
.col-sm-9,
.col-md-12,
.col-sm-12,
.col-md-6,
.col-am-6,
.col-md-2,
.col-sm-2 {
     display: inline-block;
	*display: inline;
	*zoom: 1;
}

.col-md-8,
.col-sm-8 {
    width: 66%;
    min-width: 1px;

}

.col-md-4,
.col-sm-4 {
    width: 33%;
    min-width: 1px;
}

.col-md-5,
col-sm-5 {
    width: 41%;
    min-width: 1px;
}

.col-md-3,
.col-sm-3 {
    width: 24.5%;
    min-width: 1px;
}

.col-md-9,
.col-sm-9 {
    width: 74.5%;
    min-width: 1px;
}

.col-md-12,
.col-sm-12 {
    width: 100%;
    min-width: 1px;
}

.col-md-6,
.col-am-6 {
    width: 45.5%;
    min-width: 1px;
}

.col-md-2,
.col-sm-2 {
    width: 16%;
    min-width: 1px;
}

.col-md-3{
    z-index: 1;
    position: relative;
        
}

.text-box-2{
    z-index: 999;
    position: relative;
}

.text-box-2 >h3, .text-box-2>h6, .text-box-2>p{
    z-index: 999999;
    position: relative;
} 

.col-md-9, .s-combo-2{
    z-index: -999;
    position: relative;
}

.nav ul a {
     display: inline-block;
	*display: inline;
	*zoom: 1;
}

.nav-fixed {
    position: relative;
    top: inherit;
    margin: inherit;
}

.on-page {
    background-color: #fff;
}

.logo {
    margin-left: 65%;
    width: 150%;
}

.footer-links a{
    display: inline-block;
	*display: inline;
	*zoom: 1;
}

.space-between > svg {
    display: none;
}

.intro-en {
    display: none;
}

.flashes {
    display: none;
}