/*---rwd---*/

@media (min-width: 1500px) {
    .banner {
        height: 860px;
    }

    blockquote {
        top: 560px;
    }

    .s-b-3 {
        margin: -40% 5% 0 5%;
    }

    .stroke {
        height: 25rem;
    }

    .stroke-2 {
        height: 20rem;
    }

    .stroke-3 {
        height: 750px;
    }
}

/*---pads---*/

@media (max-width: 1280px) {
    .banner {
        height: 700px;
        background-position: center;
    }

    .project-title {
        top: 12%;
    }

    blockquote {
        right: 5px;
    }

    header {
        height: 900px;
    }

    .quote {
        margin: -6% 0 0 0;
    }

    .il-left {
        margin: 5rem 0 0 10%;
    }

    .il-right {
        margin: 5rem 10% 0 0;
    }

    .detail-box:nth-of-type(2) {
        padding: 0 2% 0 1%;
        margin-top: 1%;
    }

    .nav > ul {
        margin: 2% 0 0 0;
    }

    .text-box {
        padding: 5% 7%;
        margin: 20% 0 0 -50%;
    }

    .text-box-2 {
        margin: 60% 0 0 10%;
    }


    .flash-7,
    .flash-2,
    .flash-11 {
        display: none;
    }

    .s2-bg {
        bottom: -12%;
    }

    .text-box > h3,
    .text-box-2 > h3 {
        color: #4A90E2;
    }

    .text-box-3 {
        top: -8%;
        background-color: transparent;
    }

    .text-box > p,
    .text-box-2 > p {
        font-size: 0.9rem;
        line-height: 1.7rem;
    }

    .name-box-1,
    .name-box-2,
    .name-box-3,
    .name-box-4 {
        opacity: 1;
        margin: 0.5rem 2rem;
    }

    .name-boxes h2 {
        font-size: 1.2rem;
    }

    .name-boxes h4 {
        font-size: 0.7rem;
    }

    .name-boxes a {
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-indent: 2px;
        opacity: 0.9;
        color: #F3B754;
    }

    .name-box-3 {
        top: 8%;
        left: 40%;
    }

    .name-box-4 {
        top: 18%;
        right: 5%;
    }

    .name-box-1 {
        top: 50%;
        right: 25%;
    }

    .name-box-2 {
        top: 12%;
        left: 7%;
    }

    .logo-box {
        padding: 0 6%;
    }

    .brand-intro > p {
        font-size: 0.95rem;
        line-height: 1.8rem;
    }

    .brand-intro > h4:hover {
        letter-spacing: 2rem;
        text-indent: 2rem;
        transition: all .5s ease-in;
    }

    .brand-intro {
        margin-bottom: 9%;
        margin-top: 3%;
    }


    .stroke-3 {
        height: 400px;
    }

    .s-b-3 {
        margin: -60% 5% 0 -5%;
    }


}

@media (max-width: 992px) {
    .banner {
        height: 660px;
        background-image: url(imgs/sm-banner.png);
    }

    .text-box {
        margin: 20% 0 0 -75%;
    }

    .divider:first-of-type {
        margin: 8% 25% 5% 25%;
    }

    blockquote {
        display: none;
    }

    .detail-box > h5 {
        letter-spacing: 0.1rem;
        text-indent: 0.1rem;
    }

    .text-box-3 {
        top: -11%;
    }

    .click2buy-text {
        display: block;
        width: 22%;
        padding: 20px 6.5%;
        margin: 0;
        background-color: transparent;
        font-size: 0.9rem;
        bottom: 18%;
        color: #90A4AE;
    }

    .c-t-2 {
        bottom: 18%;
    }


    .space-between > svg {
        height: 200px;
    }

    .space-between {
        width: 120%;
        margin: -17% 0 0 -8%;
    }

    .brand-intro > h4 {
        letter-spacing: 1.5rem;
        text-indent: 1.5rem;
    }

    .brand-intro > h4:hover {
        letter-spacing: 1.6rem;
        text-indent: 1.6rem;
        transition: all .5s ease-in;
    }

    .logo {
        width: 75%;
        margin: 0 12.5%;
    }

}


/*---mobile---*/

@media (max-width: 768px) {

    .col-xs-offset-1 {
        margin-left: 8.333%;
    }

    /*----flexgrid-offset-issue----*/

    .col-xs-offset-2 {
        margin-left: 16.6667%;
    }

    /*----flexgrid-offset-issue----*/

    .banner {
        height: 620px;
    }

    .flash-1 {
        display: none;
    }

    .project-title > h1 {
        font-size: 6rem;
    }

    .project-title > h3 {
        font-size: 0.85rem;
        letter-spacing: 0.3rem;
        text-indent: 0.3rem;
    }

    .project-title > h5 {
        letter-spacing: 4rem;
        text-indent: 4rem;
    }

    blockquote {
        top: 280px;
    }

    .flash-5 {
        top: 20%;
    }

    .flash-6 {
        top: 43%;
    }

    .flash-8 {
        display: none;
    }

    .flash-2 {
        top: 45%;
        left: 12%;
        transform: rotate(100deg);
    }

    .flash-3 {
        left: 10%;
    }

    .section-1,
    .section-2,
    .section-3 {
        width: 100%;
        height: calc(1280px + 5%);
    }

    .section-2 > .row {
        margin-top: 5rem;
    }

    .s-combo,
    .s-combo-2 {
        margin: 0;
    }

    .s-combo-2 {
        margin-bottom: 15rem;
        margin-top: -10%;
    }

    .text-box {
        width: 100%;
        padding: 2% 5%;
        margin: -30% 0 0 -5%;
    }

    .detail-box > h5 {
        color: black;
        font-size: 0.8rem;
        letter-spacing: 0.22rem;
    }

    .content-detail p {
        font-size: 0.75rem;
        line-height: 1.4rem;
    }

    .text-box-2 {
        position: absolute;
        flex-basis: 66.667%;
        max-width: 66.667%;
        margin: 20% 0 0 2%;
        padding: 2% 5%;
    }

    .text-box-3 {
        top: -8.5%;
    }

    .ip-2 {
        top: 24%;
    }

    .ip-3 {
        top: 30%;
        z-index: 999;
    }

    .s3-bg {
        margin-top: 30%;
    }

    .click2buy-text {
        font-size: 0.7rem;
        bottom: 12%;
    }

    .c-t-2 {
        bottom: 25%;
    }


    .footer-links > li {
        width: 15%;
    }

    .footer-links {
        width: 100%;
    }

}


@media (max-width: 680px) {
    .banner {
        height: 550px;
        background-image: url(imgs/xs-banner.png);
        opacity: 0.5;
    }


    header {
        height: 1000px;
    }

    .project-title > h1 {
        font-size: 5rem;
    }

    .il-left {
        margin: 5rem 0 0 5%;
    }

    .il-right {
        margin: 5rem 5% 0 0;
    }

    .intro-en-main {
        display: none;
    }

    .nav > ul {
        margin: 1rem 0 1rem 0;
    }

    .nav-option {
        font-size: 1.1rem;
    }

    .nav-option > hr {
        height: 3px;
    }

    .divider:first-of-type {
        margin: 5% 10% 0 10%;
    }

    .text-box > h3,
    .text-box-2 > h3 {
        font-size: 2rem;
    }

    .text-box > h6,
    .text-box-2 > h6 {
        font-size: 0.7rem;
    }

    .text-box-2 {
        margin: 20% 0 0 -6%;
    }

    .c-t-2 {
        bottom: 23%;
    }

    .s-combo {
        margin: 0;
    }

    .detail-box > h2 {
        font-size: 1rem;
        padding-left: 0px;
        font-weight: 400;
    }

    .detail-box > h5 {
        font-weight: 100;
        font-size: 1rem;
    }

    .section-2 {
        height: 1250px;
    }

    .section-3 {
        height: 600px;
    }

    .ip-3 {
        top: 15%;
    }

    .s-combo-2 {
        margin-bottom: 15rem;
    }

    .s-combo-3 {
        margin: 8% 5% 0 5%;
    }

    .name-boxes h4 {
        font-size: 0.5rem;
    }

    .name-boxes h2 {
        font-size: 0.9rem;
    }

    .name-box-1,
    .name-box-2,
    .name-box-3,
    .name-box-4 {
        top: 85%;
        left: -1%;
        width: 25%;
        margin: 0;
    }

    .name-box-2 {
        left: 24%;
    }

    .name-box-3 {
        left: 49%;
    }

    .name-box-4 {
        left: 74%;
    }

    .divider {
        width: 80%;
        margin: 5% 10%;
    }

    .name-box-1:hover,
    .name-box-2:hover,
    .name-box-3:hover,
    .name-box-4:hover {
        opacity: 1;
        margin: 0;
    }

    .s3-bg {
        margin-top: 17%;
    }

    .brand-intro > h4 {
        letter-spacing: 1rem;
        text-indent: 1rem;
    }

    .space-between > svg {
        height: 200px;
    }

    .s-b-3 {
        height: 10px;
    }

    .space-between {
        margin: -45% 0 0 -5%;
    }


}

@media (max-width: 415px) {
    header {
        height: 600px;
    }

    .banner {
        height: 300px;
    }

    .project-title > h5 {
        font-size: 0.8rem;
        letter-spacing: 1rem;
        text-indent: 1rem;
    }

    .project-title > h1 {
        font-size: 2.5rem;
        margin: 4% 0 9% 0;
    }

    .project-title > h3 {
        font-size: 0.55rem;
        letter-spacing: 0.2rem;
        text-indent: 0.2rem;
    }

    .quote > h4 {
        font-size: 0.7rem;
    }

    .flash-2 {
        left: 10%;
    }

    .flash-6 {
        display: none;
    }

    .flash-3 {
        left: 13%;
    }

    .quote > p {
        width: 65%;
        margin: 0 17.5%;
        font-size: 0.6rem;
        line-height: 1.2rem;
    }

    .nav-option {
        font-size: 0.7rem;
    }

    .nav-option > p {
        font-size: 0rem;
    }

    .nav > ul {
        margin: 1rem 0 0.5rem 0;
    }

    .divider:nth-of-type(2) {
        margin: 3% 10% 7% 10%;
    }

    .text-box > h3,
    .text-box-2 > h3,
    .text-box-3 > h3 {
        font-size: 1rem;
    }

    .text-box > h6,
    .text-box-2 > h6 {
        font-size: 3px;
        margin: 3% 0 -2% 0;
    }

    .text-box > p,
    .text-box-2 > p {
        font-size: 0.7rem;
        line-height: 1.4rem;
    }

    .flash-9 {
        bottom: 25%;
    }

    .flash-10 {
        top: 72%;
    }

    .flash-12 {
        display: none;
    }

    .click2buy-text {
        display: none;
    }

    .detail-box:nth-of-type(1),
    .detail-box:nth-of-type(3) {
        width: 90%;
        flex-basis: 90%;
        max-width: 90%;
        margin: 0 5%;
    }

    .detail-box:nth-of-type(1) {
        margin: -20% 5% 0 5%;
    }

    .detail-box:nth-of-type(2) {
        display: none;
    }

    .detail-box > h5 {
        font-size: 0.8rem;
        text-decoration: underline;
    }

    .section-2 h5 {
        margin-top: -20%;
    }

    .content-detail p {
        font-size: 0.68rem;
    }

    .section-1,
    .section-2 {
        height: 1680px;
    }

    .section-3 {
        height: 400px;
    }

    .icon-pages {
        top: 5%;
        left: 1%;
    }

    .divider {
        margin: 0% 10% 10% 10%;
    }

    .section-2 > .row {
        margin-top: -1rem;
    }

    .text-box {
        margin: -66% 0 0 -5%;
    }

    .text-box-2 {
        margin: 55% 0 0 -4%;
        padding: 2% 3%;
    }

    .text-box-3 {
        top: -5%;
    }

    .s-combo-2 {
        margin-bottom: 22rem;
        margin-top: -15%;
    }

    .s-combo-3 {
        margin: 10% 5% 0 5%;
    }

    .ip-3 {
        top: 8%;
    }

    .name-box-1,
    .name-box-2,
    .name-box-3,
    .name-box-4 {
        top: 80%;
    }

    .name-boxes h4 {
        font-size: 0.1rem;
        letter-spacing: 0.5px;
        text-indent: 0.5px;
        font-weight: 100;
    }

    .name-boxes h2 {
        font-size: 0.7rem;
    }

    .name-boxes a {
        font-size: 0.6rem;
        opacity: 1;
        letter-spacing: 0;
        text-indent: 0;
        padding: 3rem 0.2rem 0 0.2rem;
    }

    .brand-intro > h4 {
        font-size: 0.8rem;
        letter-spacing: 0.7rem;
        text-indent: 0.7rem;
        margin: 5% 0 10% 0;
    }

    .brand-intro > p {
        font-size: 0.7rem;
        line-height: 1.5rem;
    }

    .footer-links > li {
        width: 20%;
        font-size: 0.5rem;
    }

    .disclaimer {
        font-size: 8px;
    }

}


@media (max-width: 375px) {

    .section-1,
    .section-2 {
        height: 1600px;
    }

    .s-combo-2 {
        margin-bottom: 20rem;
        margin-top: -15%;
    }

    .ip-3 {
        top: 8%;
    }

    .text-box-2 {
        margin: 46% 0 0 -4.5%;
    }

    .section-2 h5 {
        margin-top: 5%;
    }

    .name-boxes h4 {
        font-size: 6px;
    }

    .name-boxes h2 {
        font-size: 10px;
    }

    .name-box-1,
    .name-box-2,
    .name-box-3,
    .name-box-4 {
        top: 65%;
    }

    .project-title {
        top: 5%;
    }

    .quote {
        margin: -20% 0 0 0;
    }

    .brand-intro > h4 {
        font-size: 0.7rem;
        letter-spacing: 0.5rem;
        text-indent: 0.5rem;
        margin: 5% 0 10% 0;
    }
    
    .s-b-3 {
        display: none;
    }

}

@media (max-width: 325px) {

    .text-box-2 {
        margin: 55% 0 0 -4.5%;
    }

    .section-2 h5 {
        margin-top: 0;
    }

    .s-combo-2 {
        margin-bottom: 21rem;
        margin-top: -35%;
    }

    .disclaimer {
        font-size: 6px;
    }
}


/*-----------------IE11----------------*/

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    .section-1,
    .section-2,
    .section-3 {
        display: block;
    }

    .ip-2 > img {
        margin-bottom: -130px;
    }

    .ip-3 {
        top: 10%;
    }

    .ip-3 > img {
        margin-bottom: -130px;
    }


    .icon-pages > img {
        margin-bottom: -150px;
    }

    .intro-en {
        margin: 0 0 0 10px;
    }

    .text-box > h6,
    .text-box-2 > h6 {
        font-size: 24px;
    }

    .space-between > svg {
        display: none;
    }

    .nav ul a {
        display: block;
    }

}