body{
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Avenir, 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: normal;
    letter-spacing: 0.1rem;
    word-break: keep-all;
    color: #414141;
}

ul,
li,
p,
a {
    font-family: Avenir, 'Noto Sans TC', '微軟正黑體', sans-serif;
    letter-spacing: 0.15rem;
    font-weight: lighter;
    color: #4C4C4C;
}



header {
    text-align: center;
    display: inline;
    position: relative;
    height: 1200px;

}

.banner {
    width: 100%;
    min-width: 1280px;
    height: 800px;

    background-image: url(imgs/banner-glial.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 10% left 50%;
}

.project-title {
    position: absolute;
    width: 70%;
    margin: 12% 15% 0 15%;
    z-index: 2;

}

.project-title > h1 {
    font-weight: bold;
    font-size: 7.7rem;
    color: #4a4a4a;
    letter-spacing: 1rem;
}

.project-title > h3 {
    margin-top: -3rem;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: lighter;
    color: #666566;
}

.quote {
    width: 100%;
    min-height: 300px;
}

.quote > h4 {
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
    letter-spacing: 0.25rem;
}

.quote > p {
    width: 60%;
    margin-left: 20%;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.il-left {
    float: left;
    width: 12px;
    margin: 5rem 0 0 11rem;
}

.il-right {
    float: right;
    width: 12px;
    margin: 5rem 11rem 0 0;
}


blockquote{
    position: absolute;
    right: 10px;
    top: 500px;
    width: 10px;
    height: 1000px;
    margin-bottom: 40px;
}

.intro-en {
    opacity: 0.8;
    font-family: Optima, serif;
    font-size: 0.6rem;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;   
}

.icon-pages {
    width: 30px;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 12px;
}

.ip-2{
    top: 45%;
}

.ip-3{
    top:50%;
}

.icon-pages >img {
    width: 27px;
    padding-left: 1.5px;
    margin-bottom: 10px;
}
/*---hightlight_animation---*/

.highlight {
    width: 100%;
    z-index: -99;
}

.flashes {
    position: absolute;
    width: 60px;
}

.flash-1{
    top: 22%;
    left: 12%;
    transform: rotate(65deg);
}

.flash-2{
    top: 48%;
    left: 25%;
    transform: rotate(60deg);
}

.flash-3{
    top: 3%;
    left: 22%;
    transform: rotate(25deg);
}

.flash-4{
    top: 4%;
    right: 16%;
    transform: rotate(-25deg);
}

.flash-5{
    top: 37%;
    right: 9%;
    transform: rotate(-80deg);
}

.flash-6{
    top: 52%;
    right: 20%;
    transform: rotate(-118deg);
}

.flash-7{
    top: 24%;
    right: 32%;
    transform: rotate(-22deg);
}

.flash-8{
    top: 52%;
    left: 6%;
    transform: rotate(11deg);
}

.flash-9{
    top: 45%;
    right: 5%;
    transform: rotate(12deg);
}


/*---nav----*/

.nav {
    z-index: 666;
    background-color: rgba(255,255,255,0.8);
}

.nav > ul{
    list-style: none;
    display: flex;
    margin: 2rem 0 1rem 0;
    padding: 0 2%;
    
}

.nav a{
    text-decoration: none;
    width: 24%;
}

.nav-option{
    font-size: 1.5rem;
    color: #000;
    text-align: center;
}

.nav-option > p{
    font-size: 0.7rem;
}

.nav-option > hr{
    width: 80%;
    height: 0.5rem;
    border: 1px solid #fff;
    
} 

.nav-option > hr:hover{
    border: 1px solid #CED7DB;
}

.on-page{
    background-color: #F3B754;
}

.nav-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;  
}


/*---section---*/

.divider{
    width: 50%;
    border: 0.5px solid #CED7DB;
    margin: 3% 25% 5% 25%;
}

.section-1, .section-2, .section-3 {
    width: 100%;
    height: calc(1680px + 5%);
    display: flex;
    position: relative;
}

.section-4{
    width: 100%;
    height: calc(600px + 5%);
}

.text-box {
    width: 400px;
    padding: 10% 10%;
    margin: 20% 0 0 -30%;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
}

.text-box-2 {
    width: 400px;
    padding: 10% 10%;
    margin: 80% 0 0 10%;
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    text-align: center;
}

.text-box > h3, .text-box-2 > h3 {
    font-size: 2.4rem;
    font-weight: 200;
    margin-bottom: 9%;
}

.text-box > p, .text-box-2 > p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.content-detail {
    width: 90%;
    margin: 4% 5%;
}

.content-detail p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 30px 0;
    padding: 0 8px;
    text-align: justify;
}

.detail-box {
    padding: 5% 2%; 
}

.detail-box:nth-of-type(2){
    padding: 0 5% 0 3%;
    margin-top: 2%;
}

.detail-box > h2{
    font-size: 1.7rem;
    font-weight: lighter;
    margin: -1% 0 8% 0;
    padding-left: 10px;
}

.detail-box > h5{
    font-size: 0.9rem;
    padding: 0 8px;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #9BA6AB;
}

.detail-box:last-child > a{
    /*商品連結訊息*/
}

.s-designer, .s-material, .s-product {
    width: 100%;
}

.s-combo {
    width: 100%;
    margin: 0 0 0 5%;
}

.section-1 > .row > .col-md-4{
    z-index: 99;
}

.s1-bg {
    position: absolute;
    width: 100%;
    z-index: -999;
    margin-top: 28%;
    height: 700px;
    background-image: url(imgs/s2-bg.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right;
}

.s2-bg {
    position: absolute;
    width: 100%;
    z-index: -999;
    margin-top: 33%;
    padding-left: 3%;
    height: 800px;
    background-image: url(imgs/s3-bg.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right;
}

.s-combo-2 {
    width: 100%;
    margin: 5% 0 0 -5%;   
}

.section-2 > .row {
    margin-top: 5rem;
}

.section-2 > .row > .col-md-3 {
    z-index: 99;
}

.s-combo-3 {
    width: 90%;
    position: static;
    margin: 5%;
}

.name-boxes h4{
    font-size: 0.9rem;
    width: 100%;
}

.name-boxes h2{
    font-size: 1.7rem;
    font-weight: 300;
}

.name-box-1, .name-box-2, .name-box-3, .name-box-4 {
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    margin:  0.5rem 3rem;
    text-align: center;
    opacity: 0.4;
}

.name-box-1:hover, .name-box-2:hover, .name-box-3:hover, .name-box-4:hover{
    opacity: 1;
    margin: 1rem 4rem;
}

.name-box-1 {
    top: 52%;
    right: 27%;
}

.name-box-2 {
    top: 9%;
    left: 2%;
}

.name-box-3 {
    top: 8%;
    left: 43%;
}

.name-box-4 {
    top: 17%;
    right: 1%;
}

.brand-box{
    
margin-top: 12.5%;
}


.logo {
    width: 100%;
}

.logo-box {
    padding: 5% 3% 0 0;
    margin-left: 12%;
}

.brand-intro {
    width: 100%;
    height: 50%;
    padding: 5% 0 5% 3%;
    border-left: 2px solid #4A90E2;
    word-break: keep-all;
}

.brand-intro > p {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
}

.lightning-box, .lightning-box-down {
    text-align: center;
}

.lightning-box-down {
    margin-top: 12.5%;
}

.red-lightning {
    width: 12px;
}

.footer-links{
    width: 90%;
    height: 50px;
    list-style: none;
    display: inline-flex;
    margin: 70px 5% 20px 5%;
    text-align: center;
}

.footer-links a{
    text-decoration: none;
}

.footer-links > li{
    width: 10%;
    font-size: 0.8rem;
}

.footer-links > li:first-child{
    margin-left: 27%;
}


.disclaimer {
    height: 50px;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1rem;
    opacity: 0.8;
}



/*---rwd---*/

@media (min-width: 1500px) {
    .logo-box{
        margin-left: 22%;
    }
}
    
    
@media (max-width: 1280px) {
    .banner {
        height: 650px;
        background-position: center;
    }
    
    .il-left {
        margin: 5rem 0 0 7rem;
    }
    
    .il-right {
        margin: 5rem 7rem 0 0;
    }
    
    .detail-box:nth-of-type(2){
        padding: 0 2% 0 1%;
        margin-top: 1%;
     }
    
    .flash-7 {
        display: none;
    }
    
    
    
}